[Desktop Entry]
Name=CellMotus
Version=1.0
Exec=/usr/games/CellMotus
Comment=Cell Motus Puzzle Game
Icon=/usr/share/CellMotus/assets/icon.png
Type=Application
Terminal=false
StartupNotify=true
Categories=LogicGame;Game;
