Source: cellmotus
Section: games
Priority: optional
Maintainer: TimeFlask <timeflask@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake
Standards-Version: 3.9.4
Homepage: http://www.time-flask.com/
#Vcs-Git: git://git.debian.org/collab-maint/cellmotus.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/cellmotus.git;a=summary

Package: cellmotus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cell motus puzzle game
 Cell Motus puzzle is a dark themed variation on
 Andrey Shevchuk Game about Squares in which you have to find
 the right way to connect cells with circles of the same color.
 Cells move only in one of the six directions in which the
 arrow is pointing. Arrows on board allows you to change directions.
 .
 As with the original, Cell Motus jumps right in with a series of
 few very easy levels to get you started, just a few cells and a
 few possible arrangements. Once you've completed these, you're
 given a real brain challenge. Some levels are little more than
 simple "directions gaming", requiring that you brought a special
 strategy in order to success. It's easy to learn but difficult to master.
